<main class="flex-center">
  <div class="full-width">
    <app-search (currentValue)="filter($event)"></app-search>

    <div class="list-section">
      <ng-container
        [ngTemplateOutlet]="
          filteredDevices.length > 0 ? devicesRef : noDevicesRef
        "
      ></ng-container>
    </div>
  </div>
</main>

<ng-template #devicesRef>
  <div
    class="devices pointer"
    *ngFor="let device of filteredDevices"
    (click)="navigate(device.id)"
  >
    <app-device-list-item
      [device]="device"
      [showInfo]="true"
    ></app-device-list-item>
  </div>
</ng-template>

<ng-template #noDevicesRef>
  <div class="flex-center">
    <app-loading *ngIf="loading"></app-loading>
    <h2 *ngIf="!loading">No Devices found</h2>
  </div>
</ng-template>
