section {
  grid-template-columns: 30% 70%;
  column-gap: 2%;
  margin: 2em auto;

  header {
    background: lavender;
    padding: 1px 1em;
    margin: 1em auto;
  }
  .device__ {
    &detail {
      p {
        span {
          margin: auto 1em;
          font-size: bold;
        }
      }
    }
  }
}
